### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Total Number of Players
total_players = pd.DataFrame({"Total Players" : [purchase_data["SN"].nunique()]},index = [0])
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age", "Price"]]
player_demographics = player_demographics.drop_duplicates("SN")
num_players = player_demographics.count()[0]
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of unique items 
Unique_Items = len(purchase_data["Item ID"].unique())

# Average Price of unique items
Average_Price = purchase_data["Price"].mean()

# Number of Purchases
Total_Purchases = len(purchase_data["Purchase ID"].unique())

# Total Revenue
Total_revenue = purchase_data["Price"].sum()

df = pd.DataFrame({"Total Players" : [purchase_data["SN"].nunique()]},index = [0])

# Create a DataFrame Purchasing Analysis (Total)
Purchasing_Analysis= pd.DataFrame([{"Number of Unique Items":Unique_Items,
                                    "Average Price":f'${Average_Price:,.2f}',
                                    "Number of Purchases":Total_Purchases,
                                    "Total Revenue":f'${Total_revenue:,.2f}',}],
                                  columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Count Unique value Total Number of Players
Total_Players = purchase_data["SN"].nunique()
# Percentage and Count of Male Players
Total_male_players = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
Total_female_players = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
Total_Other= purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

# Create a DataFrame Gender Demographics

Gender_Demographic = pd.DataFrame({"Total Count":[Total_male_players,Total_female_players,Total_Other]},
                                  index = ["Male", "Female", "Other / Non-Disclosed"])
#Calculating Percentage
Gender_Demographic["Percentage of Players"] = (Gender_Demographic["Total Count"]/Gender_Demographic["Total Count"].sum())

#Formating 
Gender_Demographic['Percentage of Players']=Gender_Demographic['Percentage of Players'].map('{:.2%}'.format)
                                                                                            
Gender_Demographic

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchasing Analysis (Gender)
Purchase_count_female = purchase_data[purchase_data["Gender"] == "Female"]["Purchase ID"].nunique()
Purchase_count_male = purchase_data[purchase_data["Gender"] == "Male"]["Purchase ID"].nunique()
Purchase_count_other= purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Purchase ID"].nunique()

Avg_price_female = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
Avg_price_male = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
Avg_price_other=purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

Total_purchase_female = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
Total_purchase_male = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
Total_purchase_other = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

Avg_purchase_female = Total_purchase_female/Total_female_players
Avg_purchase_male = Total_purchase_male/Total_male_players
Avg_purchase_other = Total_purchase_other/Total_Other

# Create a DataFrame Purchasing Analysis (Gender)

Purchasing_Analysis_Gender=pd.DataFrame({"Purchase Count":[Purchase_count_female,Purchase_count_male,Purchase_count_other],
                                         "Average Purchase Price":[Avg_price_female,Avg_price_male,Avg_price_other],
                                        "Total Purchase Value":[Total_purchase_female,Total_purchase_male,Total_purchase_other],
                                        "Avg Total Purchase per Person":[Avg_purchase_female,Avg_purchase_male,Avg_purchase_other]},
                                       index = ["Female", "Male", "Other / Non-Disclosed"])

Purchasing_Analysis_Gender['Average Purchase Price']=Purchasing_Analysis_Gender['Average Purchase Price'].map('${:,.2f}'.format)
Purchasing_Analysis_Gender['Total Purchase Value']=Purchasing_Analysis_Gender['Total Purchase Value'].map('${:,.2f}'.format)
Purchasing_Analysis_Gender['Avg Total Purchase per Person']=Purchasing_Analysis_Gender['Avg Total Purchase per Person'].map('${:,.2f}'.format)

Purchasing_Analysis_Gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#purchase_data["Age"].min() 7
#purchase_data["Age"].max() 45

# Establish Bins
age_bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names=["<10","10-14","15-19","20-24","25-29","30-34", "35-39","40+"]

# Place the Age Range into a new column 
player_demographics["Age Ranges"]=pd.cut(player_demographics["Age"], bins= age_bins, labels= group_names)
player_demographics

#Create a group base on "Age Range"
age_group = player_demographics.groupby("Age Ranges")

#count total players by Age 
total_count_age= player_demographics["Age Ranges"].value_counts()

# calculate percentage
percentage_by_age = (total_count_age/num_players)

# Create a DataFrame Age Demographics
Age_Demographics=pd.DataFrame({"Total Count":total_count_age,"Percentage of Players":percentage_by_age})
Age_Demographics['Percentage of Players']=Age_Demographics['Percentage of Players'].map('{:.2%}'.format)
Age_Demographics.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Establish Bins
age_bins=[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names=["<10","10-14","15-19","20-24","25-29","30-34", "35-39","40+"]

# Place the Age Range into a new column 
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age", "Price"]]
player_demographics["Age Ranges"]=pd.cut(player_demographics["Age"], bins= age_bins, labels= group_names)
player_demographics

#Create a group base on "Age Range"
age_group = player_demographics.groupby("Age Ranges")

#Count total purchase
age_purchase_count = age_group["SN"].count()

# calculate Average Purchase Price
average_purchase_price=   age_group["Price"].mean()
# Total Purchase Value
total_purchase_value=   age_group["Price"].sum()

#Avg Total Purchase per Person
total_purchase_person=  total_purchase_value/total_count_age
#Create a DataFrame Purchasing Analysis Age
Purchasing_Analysis_Age=pd.DataFrame({"Purchase Count":age_purchase_count,
                                      "Average Purchase Price":average_purchase_price,
                                      "Total Purchase Value":total_purchase_value,
                                      "Avg Total Purchase per Person":total_purchase_person})
#Formating
Purchasing_Analysis_Age['Average Purchase Price']=Purchasing_Analysis_Age['Average Purchase Price'].map('${:,.2f}'.format)
Purchasing_Analysis_Age['Total Purchase Value']=Purchasing_Analysis_Age['Total Purchase Value'].map('${:,.2f}'.format)
Purchasing_Analysis_Age['Avg Total Purchase per Person']=Purchasing_Analysis_Age['Avg Total Purchase per Person'].map('${:,.2f}'.format)
Purchasing_Analysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Create a dataframe for the total spend for each SN
total_purchase_value= pd.DataFrame(purchase_data.groupby("SN")["Price"].sum())
#Rename the price column to be unique
total_purchase_value.rename(columns={"Price":"Total Purchase Value"},inplace=True)

#Create a dataframe for the total number of purchases for each SN
purchase_count= pd.DataFrame(purchase_data.groupby("SN")["Price"].count())
#Rename the price column to be unique
purchase_count.rename(columns={"Price":"Purchase Count"},inplace=True)

#Create a dataframe for the mean price for each SN
average_purchase_price=pd.DataFrame(purchase_data.groupby("SN")["Price"].mean())
#Rename the price column to be unique
average_purchase_price.rename(columns={"Price":"Average Purchase Price"},inplace= True)

#concat the trhee data frame into one
top_spenders=pd.concat([purchase_count,average_purchase_price,total_purchase_value], axis=1)
top_spenders

#Sort by total purchase value
top_spenders.sort_values("Total Purchase Value",ascending=False,inplace=True)
top_spenders["Total Purchase Value"]=top_spenders["Total Purchase Value"].map('${:,.2f}'.format)
top_spenders["Average Purchase Price"]= top_spenders["Average Purchase Price"].map('${:,.2f}'.format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Create a dataframe for the total number of purchases for each item
total_purchase_value=pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"]) ["Price"].sum())
#rename the price column to be unique
total_purchase_value.rename(columns={"Price":"Total Purchase Value"},inplace=True)

#Create a dataframe for the total number of purchases for each item
purchase_count=pd.DataFrame(purchase_data.groupby(["Item ID","Item Name"])["Price"].count())
#rename the price column to be unique
purchase_count.rename(columns={"Price":"Purchase Count"},inplace=True)

#Create a dataframe for thje mean price for each item
average_purchase_price=pd.DataFrame(purchase_data.groupby(["Item ID", "Item Name"]) ["Price"].mean())
#rename the price column to be unique
average_purchase_price.rename(columns={"Price":"Item Price"},inplace=True)

#Concat the trhee data frame into one
most_popular_items= pd.concat([purchase_count,average_purchase_price,total_purchase_value],axis=1)

#Sort by total purchase value
most_popular_items.sort_values("Purchase Count", ascending = False, inplace = True)

#Create a copy of the DataFrame as we have to format the data from floats to strings and sorting will not longer work 
#properly for next report

most_profitable_items=most_popular_items.copy(deep=True)
most_popular_items["Item Price"]=most_popular_items["Item Price"].map('${:,.2f}'.format)
most_popular_items["Total Purchase Value"]=most_popular_items["Total Purchase Value"].map('${:,.2f}'.format)

most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Create a datafarame for the most profitable items 
most_profitable_items.sort_values("Total Purchase Value", ascending = False, inplace = True)
most_profitable_items["Item Price"]=most_profitable_items["Item Price"].map('${:,.2f}'.format)
most_profitable_items["Total Purchase Value"]=most_profitable_items["Total Purchase Value"].map('${:,.2f}'.format)

most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80